@import "../../../../assets/styles/_variables.scss";
@import "../../../../assets/styles/_mixins.scss";

.conditions {
  .container {
    padding: 30px 20px 50px 20px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    text-align: justify;

    h1 {
      @include head-lora($font-size: 32px);
      margin-top: 0;
      margin-bottom: 10px;
      text-align: center;
    }

    h2 {
      @include head-lora($font-size: 28px);
      margin-top: 0;
      margin-bottom: 10px;
    }

    p {
      margin-top: 0;
      margin-bottom: 15px;
    }

    ol {
      list-style-type: none;
      counter-reset: item;
      padding: 0;

      & > li {
        display: table;
        counter-increment: item;
        margin-bottom: 0.6em;

        &:before {
          content: counters(item, ".") ". ";
          font-weight: 600;
          display: table-cell;
          padding-right: 0.6em;
        }
      }
    }

    li {
      ol {
        & > li {
          margin: 15px 0;

          p {
            margin-bottom: 0;
          }

          &:before {
            content: counters(item, ".") " ";
          }
        }
      }
    }

    .action {
      display: flex;
      justify-content: center;

      button {
        width: 190px;
      }
    }
  }
}

@media screen and (max-width: 650px) {
  .conditions {
    .container {
      h1{
        font-size: 28px;
      }
      h2{
        font-size: 24px;
      }
    }
  }
}
@media screen and (max-width: 425px) {
  .conditions {
    .container {
      padding: 30px 15px 50px 15px;
      font-size: 12px;
      h1{
        line-height: 120%;
      }
      h2{
        line-height: 120%;
        font-size: 20px;
        text-align: start;
      }

    }
  }
}
