$container-width:1250px;
$header-font-color:#709FDC;
$main-font-color: #071739FF;
$dark-font-color:#1E1A2B;
$white-font-color:#FFFFFF;
$error-color: #e92113;
$bread-link-color:#B9D5FD;
$bread-active-color:#709FDC;
$comment-date-color:#BEBEBE;

$reaction-base-color:#071739FF;
$reaction-hover-color:#B9D5FD;
$reaction-active-color:#709FDC;

$filter-head-color:#B9D5FD;
$filter-inactive-color:#BEBEBE;


$pagination-active-color:#B9D5FD;

$main-bg-color:#B9D5FD;
$button-font-color:#FFFFFF;
$modal-shadow-color:#4A4A4ACC;
$input-font-color:#709FDC;
$input-border-color:#709FDC;
$input-placeholder-color:#A8ABA7;
$article-badge-bg-color:#FFFFFF;

$option-hover-color: rgba(185, 213, 253, 0.4);
$option-active-color: rgba(185, 213, 253, 0.8);

$main-page-margin-bottom:120px;
$main-page-margin-bottom-m:60px;//уменьшенный отступ при изменении ширины


